NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET= # Linux: `openssl rand -hex 32` or go to https://generate-secret.now.sh/32

DATABASE_URL=postgresql://admin:pass@localhost:5432/db

STRAVA_ID=
STRAVA_SECRET=

LOKI_HOST=
LOKI_CREDENTIALS=
NEXT_PUBLIC_VERSION=
